* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    background-color: hsl(229, 57%, 11%);
}

.main .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.main .container::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50%;
    background-image: url('./images/bg-desktop.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.box {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
}

.box .left {
    display: grid;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    background-color: hsl(228, 56%, 26%);
    border-radius: 8px 60px 8px 8px;
    padding: 25px;
    width: 255px;
}

.box .left .top .icon {
    width: 50px;
    height: 30px;
}

.box .left .top .icon img {
    width: 100px;
}

.box .left .bottom .icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.box .left .bottom .icons .icon {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background-color: hsl(229, 57%, 11%);
    display: flex;
    justify-content: center;
    transition: .3s;
    align-items: center;
}

.box .left .bottom .icons .icon img {
    width: 16px;
    height: 16px;
}

.box .left .bottom .icons .icon:hover {
    background-color: transparent;
    cursor: pointer;
}

.box .right {
    display: grid;
    justify-content: stretch;
    align-items: center;
    gap: 10px;
    padding: 25px;
    background-color: hsl(228, 56%, 26%);
    border-radius: 8px;
    width: 450px;
    color: #fff;
    position: relative;
}

.box .right .head {
    color: hsl(243, 100%, 93%);
    font-size: 12px;
}

.box .right .head span {
    color: #fff;
}

.box .right .load {
    background-color: hsl(229, 57%, 11%);
    border-radius: 20px;
    height: 14px;
    width: 100%;
    border: 1px solid hsl(229, 57%, 11%);
    position: relative;
    overflow: hidden;
}

.box .right .load::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 70%;
    z-index: 1;
    border-radius: 20px;
    background-image: linear-gradient(90deg, hsl(6, 100%, 80%) 20%, hsl(335, 100%, 65%) 100%);
}

.box .right .load span {
    background-color: #fff;
    height: 9px;
    width: 9px;
    border-radius: 50%;
    left: calc(70% - 10px);
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    z-index: 3;
}

.box .right .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}

.box .right .after {
    position: absolute;
    background-color: #fff;
    font-size: 30px;
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
    right: 25px;
    top: -35%;
    color: hsl(229, 57%, 11%);
    font-weight: 700;
}

.box .right .after::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -20px;
    border-color: transparent #fff transparent transparent;
    border-width: 20px;
    border-style: solid;
    z-index: 5;
}

.box .right .after span:last-child {
    font-size: 12px;
    color: hsl(229, 7%, 55%);
}

@media (max-width:768px) {
    .main .container {
        position: relative;
        left: auto;
        transform: none;
        height: 600px;
    }
    .main .container::after {
        background-image: url('./images/bg-mobile.png');
        height: 100%;
    }
    .box {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        position: relative;
        width: 100%;
    }
    .box .left {
        gap: 30px;
        padding: 40px;
        width: 80%;
        left: 50%;
        border-radius: 8px 100px 8px 8px;
        transform: translateX(-50%);
        position: relative;
    }
    .box .left .top .icon {
        width: 100px;
        height: 50px;
    }
    .box .left .top .icon img {
        width: 180px;
    }
    .box .left .bottom .icons {
        gap: 20px;
    }
    .box .left .bottom .icons .icon {
        width: 50px;
        height: 50px;
    }
    .box .left .bottom .icons .icon img {
        width: 25px;
        height: 25x;
    }
    .box .right {
        position: relative;
        gap: 15px;
        padding: 30px;
        padding-bottom: 50px;
        width: 80%;
        left: 50%;
        transform: translateX(-50%);
    }
    .box .right .load {
        height: 14px;
    }
    .box .right .load span {
        height: 9px;
        width: 9px;
        left: calc(70% - 10px);
    }
    .box .right .after {
        left: 50%;
        top: 80%;
        transform: translateX(-50%);
        font-size: 40px;
        align-items: center;
    }
    .box .right .after::after {
        border-width: 0px;
    }
}